div.b-info {

}

div.b-info div.b-new-game-action {
    display: inline-block;
    border: 2px solid black;
    padding: 7px;
    border-radius: 7px;
    background-color: bisque;
    font-weight: bold;
    cursor: pointer;
}

div.b-info ol.b-player-list > li {
    font-size: 20px;
}

div.b-place {
    position: relative;
    border: 10px solid #6c6c6c;
    height: 550px;
    width: 650px;
    float: left;
    margin-right: 50px;
}

div.b-item {
    position: absolute;
    height: 50px;
    width: 50px;

    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

div.b-item {
    background-size: 100%;
}

div.b-item.b-item-block {
    background-image: url('../images/block.png');
}

div.b-item.b-item-block.b-item-block-fire-proof {
    background-image: url('../images/block-fire-proof.png');
}

div.b-item.b-item-bomb {
    background-image: url('../images/bomb.png');
    box-sizing: border-box;
}

div.b-item.b-item-flame {
    box-sizing: border-box;
    background-image: url('../images/flame.png');
}

div.b-item.b-item-player {
    background-image: url('../images/player.png');
    box-sizing: border-box;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

div.b-item.b-item-player.b-item-player-current {
    background-image: url('../images/player-active.png');
}