div.b-info {

}

div.b-info div.b-new-game-action {
    display: inline-block;
    border: 2px solid black;
    padding: 7px;
    border-radius: 7px;
    background-color: bisque;
    font-weight: bold;
    cursor: pointer;
}

div.b-info ol.b-player-list > li {
    font-size: 20px;
}

div.b-place {
    position: relative;
    border: 4px solid #ddffdd;
    height: 550px;
    width: 650px;
    float: left;
    margin-right: 50px;
}

div.b-item {
    position: absolute;
    height: 50px;
    width: 50px;

    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

div.b-item-block {
    background-color: #990000;
}

div.b-item-block.b-item-block-fire-proof {
    background-color: black;
}

div.b-item.b-item-bomb {
    background-color: orangered;
    border-radius: 50%;
    border: 10px solid black;
    box-sizing: border-box;
}

div.b-item.b-item-flame {
    background-color: orange;
    border-radius: 50%;
    border: 10px solid darkorange;
    box-sizing: border-box;
}

div.b-item.b-item-player {
    border: 2px solid darkblue;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #ffc520;
}

div.b-item.b-item-player.b-item-player-current {
    border-radius: 0;
}